//TYPE
@font-face {
    font-family: 'Certeau';
    src: url('/content/fonts/CerteauWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'CerteauBold';
    src: url('/content/fonts/CerteauProWeb-Bold.woff2') format('woff2');
}

//STRUCTURE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    user-select: none;
    font-family: 'Certeau';
}

main {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container {
    width: 90%;
    // background-color: pink;
}

.navigation {
    // background-color: yellow;
    height: 8em;
 
    .logo {
        grid-area: logo;
        width: 3em;
        // background-color: bisque;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr;

    .contentInner {
        margin-bottom: 3em;
    }

.contentVideo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
}

    img {
        width: 100%;
    }

    video {
        width: 100%;
        display: block;
    }
}

@media (min-width: 1000px) {


main {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container {
    width: 94%;
    // background-color: pink;
}

.navigation {
    // background-color: yellow;
    height: 10em;
 
    .logo {
        grid-area: logo;
        width: 5em;
        // background-color: bisque;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'title description' 'video video';
    gap: 3em;

    .contentTitle {
        grid-area: title;
    }

    .contentDescription {
        grid-area: description;
    }

    .contentVideo {
        grid-area: video;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }
    
        video {
            width: 100%;
            display: block;
        }
    }
    
}




